<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Cakes</title>
    <link rel="icon" href="../static/images/logo.svg" type="image/svg">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Montserrat:wght@100&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="../static/scripts/loadTimeScript.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>

    <header>
        <img class="cakeLogo" src="../static/images/logo.svg">
        <img class="name" src="../static/images/name.svg">
        <img class="flower" src="../static/images/flow.svg">
    </header>

    <main>
        <nav>
            <a href="index.html">Торты</a>
            <a href = "bakery.html">Выпечка</a>
            <a href = "pancakes.html">Пирожные</a>
            <a href = "birthday.html">На день рождения</a>
            <a href = "assortment.html">Ассортимент</a>
        </nav>
        <script src="../static/scripts/navigationBehavior.js"></script>

    <div class = "form">
        <form id="Assortment">
            <label for="type">Название</label>
            <select id="type" name="type">
                <option value=""></option>
                <option value="Торт">Торт</option>
                <option value="Выпечка">Выпечка</option>
                <option value="День рождения">День рождения</option>
                <option value="Пирожные">Пирожные</option>
                <!-- добавить другие жанры -->
            </select>
            <label for="taste">Вкус</label>
            <input type="text" id="taste" name="taste"><br>
            <label for="weight">Вес</label>
            <input type="text" id="weight" name="weight"><br>
            <label for="priceFrom">Цена от:</label>
            <input type="number" id="priceFrom" name="priceFrom"><br>
            <label for="priceTo">Цена до:</label>
            <input type="number" id="priceTo" name="priceTo"><br>
            <input type="submit" value="Сгенерировать таблицу">
        </form>
        <div id="resultTable"></div>
        <script src="../static/scripts/tableGenerator.js"></script>
        <script src="../static/scripts/download.js"></script>
    </div>

    </main>
    <footer>
        <h4>Contacts: </h4>
        <h5>Instagram: </h5>
        <h5>Telegram: </h5>
        <table>
            <caption>
                Стоимость доставки по СПБ и ЛО
            </caption>

            <tr>
                <th>Вес, кг</th>
                <th>1-2</th>
                <th>2-3</th>
                <th>3-4</th>
            </tr>
            <tr>
                <td>Санкт-Петербург</td>
                <td>200</td>
                <td>300</td>
                <td>400</td>
            </tr>
            <tr>
                <td>Всеволожск</td>
                <td>350</td>
                <td>450</td>
                <td>550</td>
            </tr>
            <tr>
                <td class="push">Пушкин</td>
                <td>400</td>
                <td>500</td>
                <td>600</td>
            </tr>
            <tr>
                <td>Остальные</td>
                <td>500</td>
                <td>750</td>
                <td>850</td>

            </tr>
        </table>

        <div class="reviews">
            <span class="loader"></span>
            <button class="footerReviews" onclick="buttonClicked(this)">Отзывы покупателей</button>
            <script src="../static/scripts/download.js"></script>
        </div>
    </footer>

</body>
</html>