<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Cakes</title>
    <meta charset="utf-8">
    <meta name="server-time" th:content="${serverProcessingTime}" />
    <link rel="icon" href="/images/logo.svg" type="image/svg">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Montserrat:wght@100&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!--    <script src="/scripts/loadTimeScript.js"></script>-->
</head>
<body>
<header th:insert="src/headerTemplate :: headerTemplate">
</header>

<main>
    <nav>
        <a href="index">Торты</a>
        <a href = "bakery">Выпечка</a>
        <a href = "pancakes">Пирожные</a>
        <a href = "birthday">На день рождения</a>
        <a href = "assortment">Ассортимент</a>
    </nav>
    <script src="/scripts/navigationBehavior.js"></script>
    <div class="content">
        <div class="contentHeader">
            <div></div>
            <div class="contentName">
                <h3>Праздничная продукция</h3>
            </div>
            <div class="logField" th:insert="src/unloggedTemplate">
            </div>
        </div>
        <div class = "items">
            <div class = "item">
                <span>Праздничный айтем 1</span>
                <p></p>
                <div class="wrapper">
                    <img id="red-velvet" src="/images/red-velvet.svg" alt="red-violet">
                </div>


                <span>Цена за 1 кг: 1000 руб.</span>
            </div>

            <div class = "item">
                <span>Праздничный айтем 2</span>
                <p></p>
                <div class="wrapper">
                    <img id="milk-slice" src="/images/milk-slice.svg" alt="milk-slice">
                </div>
                <p></p>

                <span>price: 3000</span>
            </div>

            <div class = "item">
                <span>Праздничный айтем 3</span>
                <p></p>
                <div class = "wrapper">
                    <img id="strawberry" src="/images/strawberry.svg" alt="strawberry">
                </div>
                <p></p>

                <span>price: 3000</span>
            </div>

            <div class = "item">
                <span>Праздничный айтем 4</span>
                <p></p>
                <div class = "wrapper">
                    <img id="strawberry1" src="/images/strawberry.svg" alt="strawberry">
                </div>


                <span>price: 3000</span>
            </div>
        </div>
    </div>

</main>

<footer th:insert="src/footerTemplate :: footerTemplate">

</footer>

</body>
</html>
